@import "custom";
@import '../../node_modules/bulma/bulma.sass';

// .main-content{

// }

.navbar-item img {
  max-height: 2.25rem;
  // margin-top: 5px;
}

.box{
  margin-top: -100px;
  margin-bottom: 75px;
}

// #proto-image{}
.shadowed{
  box-shadow:  0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
}

.content ul {
  list-style: none;
  margin-left: 0;
  margin-top: 1em;
}
li {
  border-top: 1px solid rgba(0, 0, 0, .125);
  padding: 5px;
}


.tile article{
  min-height: 200px;
  min-width: 300px;
}
.tilecontent{
  display: none;
}

#about-section {
  background-image: url("../images/subtle_dots.png");
  background-repeat: repeat;
}

.notification{
  padding: 1.5rem 1.25rem;
}

#about{
  margin-top:0;
}
.tile article:hover{
  background-color: tomato;
  background-image: none;
}
.tile article .title{
  display: block;
}
.tile article:hover{
  .title,.tilecontent{
    display: block;
  }
}
.is-fixed-top{
      -webkit-animation: fadein .25s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein .25s; /* Firefox < 16 */
        -ms-animation: fadein .25s; /* Internet Explorer */
         -o-animation: fadein .25s; /* Opera < 12.1 */
            animation: fadein .25s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}